<nav class="blue" role="navigation">
  <div class="nav-wrapper container">
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/home">HOME PAGE</a></li>
      <li><a routerLink="/gallery">GALLERY</a></li>
      <li><a routerLink="/new-work">NEW WORK</a></li>
      <li><a routerLink="/inspiration">INSPIRATION</a></li>
      <li><a routerLink="/about">ABOUT</a></li>
      <li><a routerLink="/contact">CONTACT</a></li>
      <li><a routerLink="/#">SHOP</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a routerLink="/home">HOME PAGE</a></li>
      <li><a routerLink="/gallery">GALLERY</a></li>
      <li><a routerLink="/new-work">NEW WORK</a></li>
      <li><a routerLink="/inspiration">INSPIRATION</a></li>
      <li><a routerLink="/about">ABOUT</a></li>
      <li><a routerLink="/contact">CONTACT</a></li>
      <li><a routerLink="/#">SHOP</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<router-outlet></router-outlet>
